.link {
  border-radius: 5px;
  background-color: rgb(114, 113, 113);
  padding: 20px;
  position: absolute;
  right: 1;
  border: 3px;
  width: 160px;
  height: 535px;
  top: 0px;
}
a:link {
  color: white;
  font-size: 150%;

  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: blue;
}
a:active {
  color: rgb(94, 3, 3);
}
input[type="button"] {
  width: 30%;
  background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.butn {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  right: 0;
  border: 3px;
  width: 1240px;
  height: 535px;
  top: 0px;
}
.page {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  right: 0;
  border: 3px;
  width: 1040px;
  height: 535px;
  top: 0px;
}

.inbut {
  font-size: medium;
  border-radius: 8px;
  width: 20%;
  padding: 18px 34px;
  margin: 6px 4px;
  cursor: pointer;
  position: relative;
  left: 140px;
  top: 40px;
}
img {
  margin: 4px;
  border: 1px solid #ccc;
  float: left;
  width: 35px;
}
.logimg {
  margin: 1px;
  border: 1px;
  float: left;
  width: 15px;
}
.req {
  padding: 12px 12px 12px 0;

  float: left;
  width: 5%;
  margin-top: 6px;
}
.keb {
  width: 15%;
  padding: 8px 5px;
  margin: 3px 0;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
}
textarea {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 30px;
}
.btn {
  font-size: medium;
  background-color: rgb(8, 164, 255);
  color: white;
  border-radius: 5px;
  width: 15%;
  padding: 8px 5px;
  margin: 0px 0px;
  cursor: pointer;
  position: absolute;
  left: 300px;
  bottom: 200px;
}
.upbtn {
  font-size: medium;
  background-color: rgb(8, 164, 255);
  color: white;
  border-radius: 20px;
  width: 12%;
  padding: 8px 5px;
  margin: 0px 0px;
  cursor: pointer;
  position: absolute;
  left: 300px;
  bottom: 200px;
}
.debtn {
  font-size: medium;
  background-color: rgb(255, 8, 90);
  color: white;
  border-radius: 20px;
  width: 12%;
  padding: 8px 5px;
  margin: 0px 0px;
  cursor: pointer;
  position: absolute;
  left: 500px;
  bottom: 200px;
}
.adbtn {
  font-size: medium;
  background-color: rgb(8, 255, 119);
  color: white;
  border-radius: 20px;
  width: 12%;
  padding: 8px 5px;
  margin: 0px 0px;
  cursor: pointer;
  position: absolute;
  left: 700px;
  bottom: 200px;
}
.logout {
  margin: 1px 0px;
  cursor: pointer;
  float: right;
  position: relative;
  top: 0px;
  border-color: #f2f2f2;
}
